.container {
  height: 25vh;
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.innerContainer {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.row {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.slide {
  width: 200px;
  overflow: hidden;
  padding: 0 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 600px) {
  .innerContainer {
    flex-direction: column;
    align-items: flex-start;
    height: auto;
  }

  .infoContainer {
    margin-left: 0;
  }
}
