@import url("https://fonts.googleapis.com/css2?family=Euphoria+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cookie&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Monda&family=Stalemate&display=swap");

@keyframes pulsate {
  0% {
    transform: translateY(-4px);
  }
  50% {
    transform: translateY(4px);
  }
  100% {
    transform: translateY(-4px);
  }
}

.locationAnimation {
  animation: pulsate 2s infinite ease-in-out;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.section {
  opacity: 0;
  transform: translateY(24px);
}

.main h2 {
  font-family: "Monda", sans-serif;
  font-weight: 300;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  gap: 32px;
}

.heroBackground {
  opacity: 0.15;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.heroOverlay {
  background-color: black;
  opacity: 0.8;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.hero div {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.heroContent {
  position: relative;
  opacity: 0;
  transform: translateY(24px);
}

.heroText {
  font-size: 12rem;
  font-family: "Euphoria Script", cursive;
  font-weight: 600;
  color: pink;
}

.heroText span {
  font-family: "Cookie", cursive;
  font-weight: 200;
}

.heroSubtitle {
  width: 100%;
  text-align: end;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  color: white;
}

.tagline {
  display: flex;
  flex-direction: column;
  height: 30vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
}

.taglineContent {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  gap: 8px;
}

.taglineUpperLine {
  font-size: 3rem;
  font-size: 1.8rem;
}

.tagEmphasis {
  font-family: "Stalemate", cursive;
  font-size: 4rem;
  color: #ff0066;
}

.brands {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  overflow: hidden;
}

.brands h2 {
  text-align: center;
  padding: 40px;
  font-weight: 300;
  width: 100%;
  font-size: 18px;
}

.brandsCarousel {
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 800px) {
  .heroText {
    font-size: 6rem;
  }

  .brands {
    height: 50vh;
  }

  .image {
    width: 300px;
    height: 440px;
  }

  .taglineContent {
    width: 80%;
    padding: 16px;
    text-align: center;
  }

  .taglineUpperLine {
    font-size: 1.2rem;
  }
}
